/* choice component styling */
.choice-list {
  margin-bottom: 50px;
}

.choice-pokemon {
  text-align: center;
  font-size: 25px;
}

.choice-pokemon-portrait img {
  display: block;
  margin: 0 auto;
}

.choice-pokemon-stats ul {
  list-style-type: none;
}

.choice-pokemon-type ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

.choice-pokemon-type ul li {
  display: inline;
  color: white;
  padding: 5px 10px;
  margin: 0px 3px;
  border-radius: 3px;
}

/* stat bar styling */
.stat-bar {
  height: 20px;
  position: relative;
  background: rgb(233, 233, 233);
  margin-bottom: 4px;
}

.stat-bar > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: white;
  padding-left: 10px;
  transition: 0.4s linear;
  transition-property: width;
  width: 0%;
}

.stat-name {
  padding-right: 0px;
}

/* Pokemon types styling */

.normal {
  background-color: #A8A77A
}

.fighting {
  background-color: #C22E28
}

.flying {
  background-color: #A98FF3
}

.poison {
  background-color: #A33EA1
}

.ground {
  background-color: #E2BF65
}

.rock {
  background-color: #B6A136
}

.bug {
  background-color: #A6B91A
}

.ghost {
  background-color: #735797
}

.fire {
  background-color: #EE8130
}

.water {
  background-color: #6390F0
}

.grass {
  background-color: #7AC74C
}

.electric {
  background-color: #F7D02C
}

.psychic {
  background-color: #F95587
}

.ice {
  background-color: #96D9D6
}

.dragon {
  background-color: #6F35FC
}

/* Battle bar styling */
#battle-bar {
  height: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 25px;
}

#battle-bar > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-right: 5px;
  border-color: white;
  color: white;
  border-radius: 25px 0px 0px 25px;
}
